@charset "UTF-8";

*{
	border: 0px;
	margin: 0px;
	
}
body{
	background-color: #ffffff;
	height: 100%;
	min-width: 320px;
	align-content: center; 
}


/* header */
.header{
	justify-content: space-between;
	display: flex;
	border: 10px;
	width: 100%;
	height: 12%;
	position: absolute;
	top: 0px;
	background-color: #efefef;
	color: #8C8C8C;
	align-content: center;

}
.header h1{
	position: absolute;
	left: 0.5em;
	top: 0;
	height: 3em;
	line-height: 3em;
	cursor: default;
}

.header h1 a{
	font-size: 1em;
	color: #5D5D5D;
}

.header nav{
	position: absolute;
	right: 0.5em;
	top: 0;
	height: 3em;
	line-height: 3em;
}
.header nav ul{
	margin: 0;
}
.header nav ul li{
	display: inline-block;
	margin-left: 0.5em;
	font-size: 0.9em;		
}
.header nav ul li a{
	display: block;
	color: inherit;
	text-decoration: none;
	height: 3em;
	line-height: 3em;
	padding: 0 0.5em 0 0.5em;
	outline: 0;
} 




/* intro */ 

.intro{
	border: 10px;
	width: 100%;	
	position: absolute;	
	bottom: 50%;
	text-align: center;
	color: #8C8C8C;
	align-content: center;
}

.intro button{
	margin-top: 5px;
}


/* footer */
.footer{
	border: 10px;
	width: 100%;
	height: 12%;
	position: absolute;
	bottom: 0;
	background-color: #efefef;
	text-align: center;
	color: #8C8C8C;
	align-content: center;
	font-size: 12px;
}

.footer a{
	margin-top: 25px;
}





